* {
	font-family: 'Open Sans Condensed', sans-serif;
}

body {
	background-color: #e3ecf9 !important;
}

.input-group {
	margin:	100px 300px 0px 300px;
}

.current-container {
	background-color: white;
	margin-top: 30px;
	text-align: center !important;
	padding: 15px;
}

.five-day-container {
	margin-top: 15px;
	text-align: center !important;
}

ul li {
	vertical-align: middle !important;
	text-align: center !important;
}

.weather-icon {
	display: inline-block;
	text-transform: uppercase;
	margin-top: 20px;
}

.current-temperature {
	border-radius: 50%;
	width: 150px;
	height: 150px;
	border: 1px solid black;
	text-align: center;
	line-height: 150px;
	font-size: 50px;
	margin: auto;
}

.city-name {
	font-size: 50px;
	line-height: 50px;
}