* {
	font-family: 'Open Sans Condensed', sans-serif;
}

body {
	background: linear-gradient(90deg, #4d7eb7 10%, #61bcd8 90%);
}

.input-group {
	margin:	100px 300px 0px 300px;
}

.current-container {
	background-color: transparent;
	margin-top: 30px;
	text-align: center !important;
	padding: 15px;
}

.five-day-container {
	margin-top: 15px;
	text-align: center !important;
}

ul li {
	vertical-align: middle !important;
	text-align: center !important;
}

.weather-icon {
	display: inline-block;
	text-transform: uppercase;
	margin-top: 20px;
}

.current-temperature {
	border-radius: 50%;
	width: 150px;
	height: 150px;
	border: 3px solid;
	text-align: center;
	line-height: 150px;
	font-size: 50px;
	margin: auto;
}

.current-info-main hr {
	margin: 15px;
}

.current-info-main {
	height: 250px;
	background-color: #2F4F4F;
	color: white;
}

.city-name {
	font-size: 50px;
	line-height: 50px;
	margin-top: 10px;
	text-transform: uppercase;
}

.current-details {
	text-align: left;
	height: 250px;
	background-color: #f4cd8b;
	color: white;
	padding-left: 0px !important;
	padding-right: 0px !important;
	font-size: 50px;
	line-height: 40px;
}

.detail-high-row {
	height: 50%;
	width: 100%;
	display: table;
	table-layout: fixed;
}

.detail-low-row {
	height: 50%;
	width: 100%;
	border-top: 3px solid white;
	display: table;
	table-layout: fixed;
}

.current-high {
	text-align: center;
	width: 110px;
	border-right: 3px solid white;
	display: table-cell;
	vertical-align: middle !important;
}

.current-low {
	text-align: center;
	width: 110px;
	border-right: 3px solid white;
	display: table-cell;
	vertical-align: middle !important;
}

.current-description {
	text-align: center;
	width: 200px;
	height: 125px;
	display: table-cell;
	border-right: 3px solid white;
	vertical-align: middle !important;
}

.current-wind {
	display: table-cell;
	text-align: center;
	vertical-align: middle !important;
}

.static-icon {
	display: block;
	margin: auto;
}

.units {
	font-size: 25px;
}


/*.current-description-text {
	position: absolute;
	display: table;
	height: 100%;
	width: 100%
}

.current-description-text p{
	display: table-cell; 
	display: inline;
	vertical-align: middle; 
	text-align: center;  
}*/

